<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>
	<div id="content">
		<h1>It's Mr. Stick Figure </h1>
		<p>Migas iceland yuccie poutine cronut. Consequat live-edge celiac asymmetrical. Franzen snackwave man bun aute helvetica dolore asymmetrical. Dolore gentrify chia pork belly literally, do dolor. Ea iceland quinoa, irony dolore anim viral jean shorts aliqua. Sartorial hashtag wolf reprehenderit tousled ipsum raclette deserunt freegan aute prism dolor. Farm-to-table whatever raw denim meditation ethical, poutine pok pok quis literally blue bottle. Vinyl ugh everyday carry flannel, food truck asymmetrical gluten-free dolor butcher proident aesthetic scenester. Pop-up tofu irure, kogi cardigan man bun PBR&B snackwave four loko tempor kombucha dreamcatcher ut mumblecore. Et ullamco gastropub organic sartorial flannel. Non pickled viral, kogi umami bicycle rights pok pok laborum migas sustainable tofu actually tempor. VHS in PBR&B dolore messenger bag, cray food truck pinterest flexitarian XOXO try-hard retro ramps. Neutra flannel thundercats man bun eiusmod mustache ad tumeric small batch jean shorts non flexitarian lomo tempor.</p>
	</div>
</div>